/* Import */
@font-face {
    font-family: "Mitr-Light";
    src: url("../fonts/Mitr/Mitr-Light.ttf");
}
@font-face {
    font-family: "Mitr-Medium";
    src: url("../fonts/Mitr/Mitr-Medium.ttf");
}
@font-face {
    font-family: "Sarabun-Regular";
    src: url("../fonts/Sarabun/Sarabun-Regular.ttf");
}

/* Fonts */
.font-mitr,
.content .card .card-body span.invalid-feedback {
    font-family: "Mitr-Light";
}
.content .card h3.card-title {
    font-family: "Mitr-Medium";
}
.content .card .card-body label,
.content .card .card-body table.table {
    font-family: "Sarabun-Regular";
}