@font-face {
    font-family: "Kanit-SemiBold";
    src: url("../fonts/Kanit/Kanit-SemiBold.ttf");
}
@font-face {
    font-family: "Sarabun-Light";
    src: url("../fonts/Sarabun/Sarabun-Light.ttf");
}
/* FONT */
.content .card .card-title {
    font-family: "Kanit-SemiBold";
}
.content .card .card-body,
.content .modal {
    font-family: "Sarabun-Light";
}
